* {
    font-family: Arial, Sans, monospace;
    font-size: 14px;
}
:link,
:visited {
    color: #1B6ACB;
}
statusbar {
    color: #1B6ACB;
    padding: 5px;
    margin: 0px;
    /*background-color: white;*/
    min-height: 20px;
}