* {
    font-family: Arial, Sans, monospace;
    font-size: 14px;
}

:link,
:visited {
    color: #1B6ACB;
}

statusbar {
    padding: 2px;
    margin: 0px;
    min-height: 18px;
    /*background-color: white;*/
}

statusbar.dark {
    /*color: #ffffff;*/
}

toolbar  {
    -GtkToolbar-button-relief: normal;
}